<%- include('header') -%>
<%- include('navbarbuttons') -%>

<div class="container back pt-md-5 mt-md-5">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <h4>Cuber</h4>
            <ul class="list-group list-group-flush mb-md-3" id="cubers-list">
            <!--<% function isInTeam(person, team) {
                for(c of team) {
                    if(c.id === person.id)
                        return true
                }
                return false
            }
            for(let c of cubers) {%>
                <li class="list-group-item"><div class="row">
                    <div class="col-md-6"><%= c.name %></div>
                    <div class="col-md-1"><i class="fas fa-coins"></i></div>
                    <div class="col-md-2"><%= c.price %></div>
                    <% if(isInTeam(c, team)) { %>
                    <div class="col-md-2"><button class="btn btn-info" disabled><i class="fas fa-plus"></i></button></div>
                    <% } else {%>
                    <div class="col-md-2"><button class="btn btn-info"><i class="fas fa-plus"></i></button></div>
                    <% } %>
                </div></li>
            <% } 
            %>
            -->
            </ul>
        </div>
        <div class="col-md-4 offset-md-2" >
            <div class="border border-primary px-md-3">
                <div class="row">
                    <div class="col-md-8"><h4 class="pt-md-3">La tua squadra</h4></div>
                    <div class="col-md-4"><a class="btn btn-block btn-info mt-md-2" role="button" style="color: white">Salva</a></div>
                </div>
            <ul class="list-group list-group-flush" id="team">
            <% for(let c of team) { %>
                <li class="list-group-item back"><div class="row">
                    <div class="col-md-9"><%= c.name %></div>
                    <div class="col-md-2"><button class="btn btn-info"><i class="fas fa-times"></i></button></div>
                </div></li>
            <% } %>
            </ul>
            </div>  
            </div>
        </div>
        <button class="btn fixed-bottom box">Crediti residui: 2500</div>
    </div>



<%- include('logos') -%>
<%- include('footer') -%>
<script src="/public/js/createteam.js"></script>
<%- include('endbody') -%>