<%- include('./common/header') -%>
<%- include('./navbar/navbarbuttons') -%>

<h1 class="home-msg text-center">Crea Team</h1>

<div class="alert alert-success first-elem d-none" role="alert">
    Aggiornamento del team effettuato con successo!
</div>
<div class="row">
    <div class="col-lg-4 order-2 order-lg-1 first-elem">
        <div>
            <input type="text" class="form-control" id="findperson" placeholder="Cerca persone">
        </div>
        <div class="team-selector">
            <div class="list-group" id="cubers-list">
            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-lg-1 order-1 order-lg-2 first-elem">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control" id="teamname" placeholder="Nome del team">
                <div class="invalid-feedback">
                    Nome non valido
                </div>
                <div class="valid-feedback">
                    Il nome è disponibile
                </div>
            </div>
            <div class="col-sm-4 mt-4 mt-sm-0">
                <button type="button" class="btn btn-primary" id="save" style="width: 100%"
                    onclick="save()">Salva</button>
            </div>
        </div>
        <div class="row first-elem">
            <p class="col-9" style="margin-bottom: 10px"><strong>BUDGET:</strong></p>
            <p class="col-3 text-right" style="margin-bottom:10px"><strong id="remaining-credits">2500</strong>€</p>
            <div class="col-12">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" id="credits-indicator" style="width: 100%"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row first-elem" id="team">
        </div>
    </div>

</div>

<%- include('./common/logos') -%>
<%- include('./common/footer') -%>
<script src="/public/js/createteam.js"></script>
<%- include('./common/endbody') -%>