<%- include('./common/header') -%>
<%- include('./navbar/navbar') -%>


<div class="row home-msg">
    <div class="col-md-8 offset-md-2 text-justify">
        <h2>Benvenuto nel Fanta IC 2019!
        </h2>
        <p>
            Scegli i 6 cuber che faranno parte della tua squadra,
            tifa per loro e segui i risultati all'Italian Championship:
            ti faranno guadagnare punti per vincere grandiosi premi!</p>
        <p>
            Ricordati di dare un'occhiata al regolamento prima di giocare.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2 home-button">
        <a href="/team" class="btn btn-primary btn-lg btn-block py-md-5 create-edit" role="button" onclick="this.blur();">Crea squadra</a>
    </div>
    <div class="col-md-4  home-button">
        <a role="button" class="btn btn-danger btn-lg btn-block py-md-5" href="/classifica" onclick="this.blur();">Classifica</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2 home-button">
        <a href="/regolamento" class="btn btn-warning btn-lg btn-block py-md-5" role="button" onclick="this.blur();">Regolamento</a>
    </div>
    <div class="col-md-4 home-button">
        <a href="http://live.worldcubeassociation.org/" class="btn btn-success btn-lg btn-block py-md-5" role="button"
            target="_blank" onclick="this.blur();">Risultati Ufficiali</a>
    </div>

</div>

<%- include('./common/logos') -%>
<%- include('./common/footer') -%>
<%- include('./common/endbody') -%>