<%- include('./common/header') -%>
<%- include('./navbar/navbarbuttons') -%>

<div class="row home-msg">
    <div class="col-12 text-center">
        <h1>Classifica</h1>
    </div>
</div>
<div class="row first-elem">
    <div class="col-md-8 offset-md-2">
        <table class="table table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-left">Team</th>
                    <th scope="col">Punti</th>
                </tr>
            </thead>
            <tbody>
                <% for(let team of teams) {%>
                <tr <% if(team.position === 1){%> class="gold" <%} else if(team.position ===2) { %> class="silver"
                    <% } else if(team.position === 3) { %> class="bronze" <% }%>>
                    <th scope="row"><%= team.position %></th>
                    <td class="text-left a-lead">
                        <% if(open){%>
                        <a href="/team/<%=team.id%>"><%= team.name %></a>
                        <% } else {%>
                        <%= team.name %>
                        <% } %>
                    </td>
                    <td><%= team.points %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('./common/logos') -%>
<%- include('./common/footer') -%>
<%- include('./common/endbody') -%>