<%- include('./common/header') -%>
<%- include('./navbar/navbarbuttons') -%>

<div class="home-msg text-center">
    <h1>Regolamento</h1>
</div>
<div class="row first-elem">
    <div class="col-md-10 offset-md-1 text-justify">
        <h2>Regole Generali</h2>
        <ul>
            <li>Lo scopo del Fanta IC è quello di creare il proprio dream team e realizzare punti in base ai risultati
                dei cubers acquistati.
            </li>
            <li>La squadra deve avere un nome (alcuni nomi potrebbero essere scartati!) e deve obbligatoriamente essere composta da 6 cubers. 
                Il vincitore del Fanta IC sarà colui che al termine dell’IC avrà la squadra col punteggio complessivo più alto.</li>
            <li>I responsabili del contest si riservano il diritto di scartare eventuali profili doppi o falsi.</li>
        </ul>
        <h2>Sistema di compravendita</h2>
        <ul>
            <li>Ogni partecipante ha a disposizione 2500 Fantaeuro, da spendere come meglio crede per comprare i cuber disponibili. 
                Un partecipante può anche comprare se stesso se disponibili. </li>
            <li>Saranno presenti solo cubers italiani. Tutti gli esordienti avranno un costo di 10€. </li>
            <li>Tutti i crediti che il partecipante non spende non verranno rimborsati in alcun modo.</li>
            <li>Il partecipante può cambiare squadra entro e non oltre le ore 12:00 di Giovedì 31 Ottobre</li>
        </ul>
        <h2>Sistema di punteggio</h2>
        <ul>
            <li>Ognuno dei 6 cuber potrà fare punti in solo tre eventi. Tali eventi vengono determinati in base ai tre eventi in cui il cuber accumula più punti (non posizione)</li>
            <li>Vengono assegnati punti solo ai primi 24 classificati di ogni evento.
                Se in finale accederanno meno di 24 persone, si prende la classifica del turno precedente e così via.</li>
            <li>Ai fini della classifica verranno contati solo i cubers italiani.</li>
            <li>I punteggi attribuiti nelle varie categorie sono:</li>
        </ul>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                    <table class="table table-bordered table-striped table-fluid">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">3x3</th>
                                <th scope="col">3x3bld</br>2x2</br>4x4</th>
                                <th scope="col">3x3oh</br>5x5-Pyra</th>
                                <th scope="col">6x6-7x7-Sq1</br>Skewb-Mega</br>Clock-FMC</th>
                                <th scope="col">4x4bld</br>5x5bld-Mbld</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>600</td>
                                <td>450</td>
                                <td>375</td>
                                <td>300</td>
                                <td>225</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>552</td>
                                <td>414</td>
                                <td>345</td>
                                <td>276</td>
                                <td>207</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>506</td>
                                <td>380</td>
                                <td>316</td>
                                <td>253</td>
                                <td>190</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>462</td>
                                <td>347</td>
                                <td>289</td>
                                <td>231</td>
                                <td>173</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>420</td>
                                <td>315</td>
                                <td>263</td>
                                <td>210</td>
                                <td>158</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>380</td>
                                <td>285</td>
                                <td>238</td>
                                <td>190</td>
                                <td>143</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>342</td>
                                <td>257</td>
                                <td>214</td>
                                <td>171</td>
                                <td>128</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>306</td>
                                <td>230</td>
                                <td>191</td>
                                <td>153</td>
                                <td>115</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>272</td>
                                <td>204</td>
                                <td>170</td>
                                <td>136</td>
                                <td>102</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>240</td>
                                <td>180</td>
                                <td>150</td>
                                <td>120</td>
                                <td>90</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>210</td>
                                <td>158</td>
                                <td>131</td>
                                <td>105</td>
                                <td>79</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>182</td>
                                <td>137</td>
                                <td>114</td>
                                <td>91</td>
                                <td>68</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>156</td>
                                <td>117</td>
                                <td>98</td>
                                <td>78</td>
                                <td>59</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>132</td>
                                <td>99</td>
                                <td>83</td>
                                <td>66</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>110</td>
                                <td>83</td>
                                <td>69</td>
                                <td>55</td>
                                <td>41</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>90</td>
                                <td>68</td>
                                <td>56</td>
                                <td>45</td>
                                <td>34</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>72</td>
                                <td>54</td>
                                <td>45</td>
                                <td>36</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>56</td>
                                <td>42</td>
                                <td>35</td>
                                <td>28</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>42</td>
                                <td>32</td>
                                <td>26</td>
                                <td>21</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>30</td>
                                <td>23</td>
                                <td>19</td>
                                <td>15</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>20</td>
                                <td>15</td>
                                <td>13</td>
                                <td>10</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>12</td>
                                <td>9</td>
                                <td>8</td>
                                <td>6</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>25+</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <ul>
            <li>
                    Punti bonus: ogni cuber che realizza un record riceverà dei punti bonus. Il record verrà considerato tale solo se resisterà fino alla fine del round.
                    Ogni cuber potrà guadagnare massimo 300 punti con i bonus record.</br>
                    I bonus sono:
                    <ul>
                        <li>100 per ogni record nazionale</li>
                        <li>200 per ogni record europeo</li>
                        <li>300 per ogni record mondiale</li>
                    </ul>
            </li>
            <li>
                Se il cuber non dovesse prendere parte alla gara, non verranno risarciti crediti / punti.
            </li>
        </ul>
        
        <h2>Criteri per la classifica</h2>
        <ul>
            <li>Si piazza meglio colui che ha accumulato più punti totali
                A parità di punti, si piazza meglio colui che ha il cuber che ha realizzato il miglior punteggio.
                Se anche il criterio sopra citato presenta un caso di parità, si controlla il secondo cuber, e così via.</li>
        </ul>
    </br>
    </br>
    Per ulteriori informazioni, contattare cubingitaly@gmail.com con oggetto "FANTA IC", oppure su Telegram @CiccioCZ
</br>
</br>
    </div>
</div>

<%- include('./common/logos') -%>
<%- include('./common/footer') -%>
<%- include('./common/endbody') -%>