<%- include('./common/header') -%>
<%- include('./navbar/navbarbuttons') -%>

<div class="container back pt-md-5 mt-md-5">
    <div class="row pb-md-4">
        <div class="col-md-12" align="center"><h1>Regolamento</h1></div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2>Regole Generali</h2>
            <ul>
                <li>Lo scopo del FantaIC è quella di creare la propria squadra ideale di cuber. Essi, partecipando all'Italian Champioship, guadagneranno dei punti che, sommati tra di loro, daranno il punteggio finale della squadra. L'utente con il maggior numero di punti sarà premiato come vincitore del FantaIC 2019.</li>
                <li>Può partecipare al FantaIC chiunque abbia un account WCA.</li>
                <li>I responsabili del contest si riservano il diritto di scartare eventuali profili doppi o falsi.</li>
                <li>I cuber che possono essere scelti per la propria squadra sono solo gli italiani iscritti all'Italian Championship.</li>
                <li>Saranno accettati tutti i team inviati entro e non oltre le 12:00 del 31 Ottobre 2019.</li>
            </ul>
            <h2>Sistema di compravendita</h2>
            <ul>
                <li>Ogni partecipate ha a disposizione 2500 crediti, da spendere per formare il proprio team di 6 cuber. Il team deve essere
                    composto esattamente da 6 persone, quindi si consiglia di spendere con cura i propri crediti in modo da riuscire ad acquistare 6 componenti.
                    Tutti i crediti non utilizzati NON verrano convertiti in alcun modo. È consentito modificare la propria squadra fino alle 12:00 del 31 Ottobre 2019.</li>
            </ul>
            <h2>Sistema di punteggio</h2>
            <ul>
                <li>Ogni evento dell'Italian Championship attribuisce punteggio in base alla posizione, secondo questo criterio:</li>
            </ul>
            <div class="row my-md-3">
                <div class="col-md-4 offset-md-1" align="center">
                    <table class="table table-bordered table-striped table-fluid">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Posizione</th>
                                <th scope="col">Punteggio</th>
                            </tr>
                        </thead>
                    <tbody>
                            <tr><td>1</td><td>300 punti</td></tr>
                            <tr><td>2</td><td>276 punti</td></tr>
                            <tr><td>3</td><td>253 punti</td>
                            <tr><td>4</td><td>231 punti</td>
                            <tr><td>5</td><td>210 punti</td>
                            <tr><td>6</td><td>190 punti</td>
                            <tr><td>7</td><td>171 punti</td>
                            <tr><td>8</td><td>153 punti</td>
                            <tr><td>9</td><td>136 punti</td>
                            <tr><td>10</td><td>120 punti</td>
                            <tr><td>11</td><td>105 punti</td>
                            <tr><td>12</td><td>91 punti</td>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 offset-md-1" align="center">
                    <table class="table table-bordered table-striped table-fluid">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Posizione</th>
                                <th scope="col">Punteggio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>13</td><td>78 punti</td>
                            <tr><td>14</td><td>66 punti</td>
                            <tr><td>15</td><td>55 punti</td>
                            <tr><td>16</td><td>45 punti</td>
                            <tr><td>17</td><td>33 punti</td>
                            <tr><td>18</td><td>28 punti</td>
                            <tr><td>19</td><td>21 punti</td>
                            <tr><td>20</td><td>15 punti</td>
                            <tr><td>21</td><td>10 punti</td>
                            <tr><td>22</td><td>6 punti</td>
                            <tr><td>23</td><td>3 punti</td>
                            <tr><td>24</td><td>1 punto</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul>
                <li>Questi punteggi saranno poi modificati con un moltiplicatore che dipende dall'evento, in questo modo (gli eventi non citati hanno moltiplicatore 1):</li>
            </ul>    
            <div class="row my-md-3">
                <div class="col-md-4 offset-md-4">
                    <table class="table table-bordered table-striped table-fluid">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Evento</th>
                                <th scope="col">Moltiplicatore</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>3x3</td><td>+100%</td></tr>
                            <tr><td>2x2</td><td>+33%</td></tr>
                            <tr><td>4x4</td><td>+33%</td></tr>
                            <tr><td>3BLD</td><td>-25%</td></tr>
                            <tr><td>6x6</td><td>-25%</td></tr>
                            <tr><td>7x7</td><td>-25%</td></tr>
                            <tr><td>4BLD</td><td>-25%</td></tr>
                            <tr><td>5BLD</td><td>-25%</td></tr>
                            <tr><td>3MBLD</td><td>-25%</td></tr>
                            <tr><td>SQ1</td><td>-25%</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul>
                <li>Ogni cuber guadagnerà punti solo per le 3 categorie in cui ha ottenuto il punteggio più alto.</li>
            </ul>
            <h2>Criteri per la classifica</h2>
            <ul>
                <li>Il criterio con cui si determina la classifica è la somma dei punti ottenuti dai cuber di ciascuna squadra.</li>
                <li>In caso di parità si terrà conto del punteggio del miglior cuber della squadra, poi il secondo, il terzo e così via.</li>
                <li>In caso di ulteriore parità farà fede il miglior piazzamento al 3x3.</li>
            </ul>
            <h2>Altre regole</h2>
            <ul>
                <li>Non sono ammessi nomi per la squadra offensivi , discriminatori, o in generale considerati non adeguati dallo staff, pena l'esclusione.</li>
                <li>Un cuber che non si presentasse alla gara otterrà 0 punti.</li>
                <li>Per qualsiasi dubbio, contattare BOH POI VEDIAMO</li>
            </ul>
        </div>
    </div>
   
<%- include('./common/logos') -%>
<%- include('./common/footer') -%>
<%- include('./common/endbody') -%>